*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

body{
    font-family: Arial ;
    /* background-image: url('burger.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; */
    color: aliceblue;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding:0 15px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    align-items: center;
}
.menu-item .link{
    color:gray;
    font-size: 25px;
    text-transform: uppercase;
}
.menu-item .active{
    color:white;
    font-size: 25px;
    text-transform: uppercase;
}

.welcome{
    margin-top: 100px;
    color:aliceblue;
}
.welcome .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border-radius: 16px;
    color: aliceblue;
    text-transform: uppercase;
    background: #E56D16;
}
.title{
    padding-bottom: 45px;
    max-width: 500px;
    font-size: 40px;
}
.text{
    padding-bottom: 45px;
    max-width: 500px;
    font-size: 17px;
}
a.btn:hover {
    display: flex;
    color: black;
    background: white;  
    text-decoration: underline; 
    transition: all 0.2s ease 0s;
   }
 a.active:hover {
    display:flex;
    color:purple;
    text-decoration:none;
    transition: all 0.2s ease 0s;
}
a.link:hover {
    display:flex;
    color:purple;
    text-decoration:none;
    transition: all 0.2s ease 0s;

}
.image {
    position: absolute;
    z-index:-1;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
button{
    background: none;
    border: none;
}
.burger{
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 40px;
    justify-content: space-between;
    z-index: 50;
}

.burger span{
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 5px; 
}
.header{
    position: relative;
}
@media (min-width: 768px) {
        .burger{
            display: none;
        }
}
@media (max-width:786px) {
    .title{
        max-width:100%;
        font-size: 24px;
    }
    .text{
        max-width: 100%;
        font-size: 16px;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        background: black;
        padding-top: 100px;
        transition: all 0.5s ease 0s;
    }
    .menu.active {
        left:0;
    }
    .welcome{
        margin-top: 50px;
    }
    .header .container{
        padding-top:15px;
    }
}

